# Hypothesis Testing (Costomer+OrderForm)

Shubham's Assignment

In [1]:
#Import libraries
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
#load dataset
Customer = pd.read_csv('Costomer+OrderForm.csv')
Customer.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [4]:
# Analyzing Data

In [5]:
Customer.shape

(300, 4)

In [6]:
Customer.dtypes

Phillippines    object
Indonesia       object
Malta           object
India           object
dtype: object

In [7]:
Customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [8]:
Customer.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [9]:
Phillippines_value=Customer['Phillippines'].value_counts()
print(Phillippines_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
Indonesia_value=Customer['Indonesia'].value_counts()
print(Indonesia_value)

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
Malta_value=Customer['Malta'].value_counts()
print(Malta_value)

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
India_value=Customer['India'].value_counts()
print(India_value)

Error Free    280
Defective      20
Name: India, dtype: int64

In [14]:
#Hypothesis Testing

In [15]:
chiStats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])

In [16]:
print('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))

Test t=3.858961 p-value=0.277102

In [17]:
print('Interpret by p-Value')

Interpret by p-Value

In [18]:
if chiStats[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we accept null hypothesis

In [19]:
#critical value = 0.1
alpha = 0.05
critical_value = sp.stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])
observed_chi_val = chiStats[0]

In [20]:
print('Interpret by critical value')

Interpret by critical value

In [21]:
if observed_chi_val <= critical_value:
       print ('Null hypothesis cannot be rejected (variables are not related)')
else:
       print ('Null hypothesis cannot be excepted (variables are not independent)')

Null hypothesis cannot be rejected (variables are not related)

In [22]:
#Inference : Proportion of Percentage Defective across all center is same

In [23]:
# Done